@font-face {
    font-family: 'Nekst-Black';
    src: url(../../../fonts/Nekst-Black.woff2);
}

@font-face {
    font-family: 'Gilroy';
    src: url(../../../fonts//Gilroy/Gilroy-Regular.woff2);
}


.header {
    display: flex;
    width: 1440px;
    justify-content: center;
    flex-direction: column;
}

.header__header {
    width: 753px;
    height: 98px;
    font-family: Nekst-Black;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 90%;
    color: #111;
    margin-top: 213px;
}

 .header__3-blocks  {
    display: flex;
 }

 .block {
    margin-top: 19px;
    height: 119px;
    width: 427px;
    border-radius: 0px;
    margin-right: 32px;
 }

 .name {    
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #575757;
 }

 .name--mobile {
    display: none;
 }
 

input[type=range] {
    -webkit-appearance: none;
    position: absolute;
    height: 2px;
    color: #ff9514;
    width: 90%;
    bottom: 0;
    -moz-appearance: none;
    appearance: none;
    background: #ff9514;
    display: flex;
    justify-content: center;
}

input[type=range]::-webkit-slider-thumb {
   -webkit-appearance: none;   
   width: 20px;
   height: 20px;  
   top: 10px;
   background: #FF9514;
   border-radius: 50% ;
   -webkit-border-radius: 50% ;
   -moz-border-radius: 50% ;
   -ms-border-radius: 50% ;
   -o-border-radius: 50% ;
}

input[type=range]::-ms-thumb { /* должен следовать после -webkit- */
	width: 20px;
    height: 20px;
    left: 327px;
    top: 90px;
    background: #FF9514;
    -webkit-appearance: none,
} 

input[type=range]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    left: 327px;
    top: 90px;
    background: #FF9514;

}

input[type=range]::-webkit-slider-track {
	height: 2px;
    color: #ff9514;
    width: 100%;
}

input[type=range]::-ms-track { 
	border-color: transparent;
	color: transparent;	
}

input[type=range]::-moz-range-track {
	height: 2px;
    color: #ff9514;
    width: 100%;
}


.range-block {
    margin-top: 24px;
    display: flex;
    bottom: 5.88%;
    background: #f3f3f4;
    height: 68px;
    width: 427px;
    border-radius: 16px;
    position: relative;
    justify-content: center;
}

 .block__sum {
    margin-top: 44px;
 }

 .block__sum_header {
    width: 191px;
    height: 24px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #575757;
    flex: none;
    order: 0;
    flex-grow: 0;
 }

 .block__sum_sum,
 .block__sum_month {
    width: 279px;
    height: 49px;
    font-family: 'Nekst-Black';
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 90%;
    color: #333333;
 }

  .block__sum_link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 16px 12px;
    gap: 10px; 
    height: 68px;
    background: #FF9514;
    border-radius: 40px;    
    font-family: 'Nekst-Black';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .block_value-rage {
display: flex;
  }

.value-range-describe {
    height: 36px;
    font-family: Nekst-Black;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    text-align: right;
    color: #575757;
    position: absolute;
    right: 20px;
    top: 12px;
}

 #value-range-sum,
 #value-range-pay,
 #value-range-time  {
    position: absolute;
    height: 36px;    
    right: 20px;
    top: 10px;
    font-family: Nekst-Black;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    text-align: right;
    color: #575757;
}


#value-range-pay {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 10px;
    gap: 10px;
    position: absolute;
    right: 10px;
    top: 12px;
    background: #ebebec;
    border-radius: 16px;
    width: 35px;
    height: 24px;
    font-family: Nekst-Black;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 120%;
    text-align: right;
    color: #575757;
}

.sum-agreement--mobile {
    display: none;
}
.sum-agreement {
   display: none; 
}

.sum-agreement-lising {
    height: 36px;
    left: 20px;
    top: 15px;
    font-family: Nekst-Black;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    color: #575757;
    position: absolute;
}

.sum-agreement-payment {
     height: 36px;
    left: 20px;
    top: 15px;
    font-family: Nekst-Black;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    color: #575757;
    position: absolute;
}

.sum-agreement-time {
     height: 36px;
    left: 20px;
    top: 15px;
    font-family: Nekst-Black;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    color: #575757;
    position: absolute;
}

.sum-agreement-number {
   display: none;
}

.sum-month-number {
    display: none;
}
.block__sum_link--mobile {
    display: none;
   
}

.payment-month--mobile {
display: none;
}

